/* 마진 패딩 초기화 */
*{padding: 0; margin: 0;}
/* *{border: 1px dotted red;} */
 
/* 페이지 기본 글꼴과 크기 설정 */
body{font-family: "meiryo", sans-serif; font-size: 14px;}
 
/* 모든 리스트의 블릿 기호 표시 제거 */
ul{list-style: none;}
 
ul li{font-family: "meiryo";}
/* <a>요소의 기본 밑줄 제거 */
a{display: inline-block; text-decoration: none; color: #333333;}
 
/* 헤더영역의 로고와 회원가입/로그인 표시 영역 */

/* 가로사이즈 지정 및 가운데 정렬 */
/* 회원가입/로그인 글씨를 오른쪽 배치할 때 absolute 포지션 사용하기 위해 부모뷰는 relative여야 함. */
#top{ width: 1000px; height: 80px; margin: 0 auto; position: relative; }
 
/* 로고 제목 위치와 폰트 사이즈 */
#top h3{position: absolute; top: 25px; left: 40px; font-size: 16px;}
 
/* 회원가입/로그인 글씨 위치 */
#top #top_menu{position: absolute; top: 30px;right: 60px;}
#top #top_menu li{display: inline-block;}
 
/* 헤더안에 네비게이션 메뉴 */
#menu_bar{margin-top: 30px; height: 48px; background-color: #ffffff; font-size: 16px;}
#menu_bar ul{width: 1000px;margin: 0 auto; padding: 14px 0px 14px 80px;}
#menu_bar ul li{display: inline; margin-right: 90px;}
#menu_bar ul li a{color: black;}
 
/* 하단 푸터 */
footer{ height: 100px; margin-top: 270px; background-color: #dfb7b7;}
/* 안에 배피는 absolute를 사용할 것이어서 부모뷰는 relative */
#footer_content{position: relative; width: 1000px; margin: 0 auto; color: #727272;}
#footer_logo{position: absolute; top: 22px; left: 50px; font-size: 16px;}
#footer_logo span{color: brown;}
#download{position: absolute; top: 9px; left: 400px;}
#download a{color:brown;}
#author{position: absolute; top: 9px; left: 700px;}